:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #004643;
}

body {
  padding: 20px;
}

h1 {
  font-size: 28px;
  color: white;
  font-weight: bold;
}

/*left margin for nav bar in landscape view*/
.page-container {
  width: 100%;
  margin-left: 120px;
  overflow-y: scroll;
  height: 92vh;
}

@media (max-width: 600px) {
  .page-container {
    margin: auto;
  }
}

*:focus {
  outline: none;
}

::placeholder {
  color: white;
}

/*Add Masked Overflow
https://pqina.nl/blog/fade-out-overflow-using-css-mask-image */
.page-container {
  /* scroll bar width, for use in mask calculations */
  --scrollbar-width: 5px;
  /* mask fade distance, for use in mask calculations */
  --mask-height: 10px;
  /* If content exceeds height of container, overflow! */
  overflow-y: auto;
  /* Our height limit */
  height: 92vh;
  /* Need to make sure container has bottom space,
  otherwise content at the bottom is always faded out */
  padding-bottom: var(--mask-height);
  /* The CSS mask */
  /* The content mask is a linear gradient from top to bottom */
  --mask-image-content: linear-gradient(to bottom,
      transparent,
      #126180 var(--mask-height),
      #126180 calc(100% - var(--mask-height)),
      transparent);
  /* Here we scale the content gradient to the width of the container 
  minus the scrollbar width. The height is the full container height */
  --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
  /* The scrollbar mask is a blue pixel */
  --mask-image-scrollbar: linear-gradient(#126180, #126180);
  /* The width of our blue pixel is the width of the scrollbar.
  The height is the full container height */
  --mask-size-scrollbar: var(--scrollbar-width) 100%;
  /* Apply the mask image and mask size variables */
  mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
  mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
  /* Position the content gradient in the top left, and the 
  scroll gradient in the top right */
  mask-position: 0 0, 100% 0;
  /* We don't repeat our mask images */
  mask-repeat: no-repeat, no-repeat;
}