body {
  margin: 0;
  overflow-x: hidden;
}

.sidebar {
  padding: 0;
}

html, body {
  height: 100%;
}

.logout-button {
  width: auto;
  padding: 10px;
  background-color: #2B6361;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight:bold;
}

.logout-button:hover {
  background-color: #3e8078;
}

.logo {
  margin-bottom:5px;
  width:65px;
  height:65px;
  align-items:center;
}

@media (max-width: 600px) {
  .spotifylogo {
    display: none;
     

  }
}