body {
  margin: 0;
  overflow-x: hidden;
}

.sidebar {
  padding: 0;
}

html, body {
  height: 100%;
}

.logout-button {
  width: auto;
  padding: 10px;
  background-color: #2B6361;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.logout-button:hover {
  background-color: #3e8078;
}