body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    color: white;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #2B6361;
    padding: 50px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.close-modal {
    margin-top: 20px; /* Add space above the button */
    padding: 8px 18px; /* Increase padding for a larger button */
    background-color: #F9BC60;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    font-size: 15px;
}

h2{
    font-size: 2em;
}

.X-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
    background-color: transparent !important;
    border: none;
    font-size:larger;
    color:white;
}