.forum-card-container {
    display: inline-flex;
    background-color: #3A6160;
    border-radius: 30px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    height: 125px;
    width: 90%;
    color: white;
    margin: 10px;
}

.card-album-cover {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin: 25px 0px 0px 25px;
}

.post-info {
    margin-left: 2%;
    line-height: 0.6;
    margin-top: 15px;
    text-align: left;
}

.quick-info {
    text-align: center;
    line-height: 0.05;
    font-size: 25px;
}

.right-side {
    display: inline-flex;
    gap: 40px;
    margin: 0px 40px 0px auto;
}

@media (max-width: 600px) {
    .right-side {
        display: none;
    }
}

.back-button {
    background-color: transparent !important;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.discussion-title-card {
    display: inline-flex;
    background-color: #3A6160;
    border-radius: 50px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    min-height: 180px;
    width: 90%;
    max-width: 1250px;
    color: white;
    margin: 10px;
    padding: 20px;
}

.artist-message {
    line-height: 2;
}

.discussion-album-cover {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 15px 25px 0px 25px;
}

.like-and-reply {
    display: grid;
    grid-template-rows: auto auto;
    color: white;
    font-size: 20px;
    margin: 20px 50px -20px auto;
}

.reply-button {
    background-color: #F9BC60;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;font-size: 20px;
}

.like-button {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #F9BC60;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    padding: 8px;
}

#likes-text {
    font-size: 25px;
    margin-top: -2px;
}

.reply-container {
    display: inline-flex;
    background-color: #3A6160;
    border-radius: 30px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    min-height: 80px;
    width: 50%;
    color: white;
    margin: 10px;
    line-height: 2;
}

.reply-pp {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: 15px 30px 15px 30px;
}

.reply-box-container {
    width: 100%;
    max-width: 1100px;
    min-height: 80px;
    margin: 20px auto 0px 100px;
    background-color: #3A6160;
    border-radius: 30px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    padding: 20px;
}

.reply-input {
    margin-left: 10%;
    background: rgb(86, 105, 91);
    width: 70%;
    border-radius: 20px;
    padding: 20px;
    border: none;
    font-size: 20px;
    color: white;
}

.reply-input:focus {
    outline: none
}

.cancel-button {
    border: none;
    background-color: #F9BC60;
    border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    padding: 8px;
    font-size: 20px;
    color: white;
}

.post-button {
    border: none;
    background-color: #F9BC60;
    border-radius: 20px;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    padding: 8px;
    font-size: 20px;
    color: white;
    margin-left: 5%;
}