.chat-card-container {
    background-color: #3A6160;
    display: inline-flex;
    margin-bottom: 10px;
    width: 100%;
    max-width: 1250px;
    height: 80px;
    border-radius: 20px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    color: white;
}

.chat-card-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.receiver-info {
    width: 25%;
    font-size: 15px;
    overflow-x: hidden;
    display: inline-flex;
    gap: 10px;
    margin: 12px 0px 0px 7px;
}

.recent-message {
    margin-left: 5%;
    font-size: 20px;
    color: #ABD1C6;
}

.arrow {
    margin: 15px 10px 0px auto;
}

@media (max-width: 600px) {
    .arrow {
        display: none
    }
    #username {
        display: none
    }
}

.enter-forum-icon {
    margin-top: 15%;
}

.back-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px
}

.messages-box {
    width:100%;
    max-width:1200px;
    min-height: 420px;
    border-radius: 50px;
    padding: 50px;
    overflow-y: hidden;
    background-color: #3A6160;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
}

.message-container{
    display: inline-flex;
    background-color: beige;
    padding: 10px;
    border-radius: 30px;
    width: 500px;
    height: 40px;
    margin: 10px;
}

.message-profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.message-info {
    padding: 0px;
    margin-top:-20px;
    margin-left: 30px;
}
.message {
    margin: -20px 0px 0px 0px;
    padding: 0px;
    font-size: 15px;
    color: black;
}

.timestamp{
    color: black;
}

.input-message{
    display: inline-flex;
    max-width: 1250px;
    min-height: 50px;
    margin-top:20px;
    margin-left: 20%;
    border-radius: 50px;
    padding: 20px;
    overflow-y: hidden;
    background-color: #3A6160;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
}
/* 
.form-fieldinew {
    width: 100%;
} */

.text-area{
    font-size: 20px;
    background-color: beige;
    height: 50px;
    width: 800px;
    margin-left: 30px;
    margin-right: 20px;
    border-radius: 20px;
}

.send-button {
    margin-top: 8px;
    background-color: #F9BC60;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    color: white;
    font-size: 20px;
}