.landingpage-container {
    justify-content: center;
    align-items: center;
    align-content:center;
    height: 90vh;
    margin-bottom: 20px;
    text-align: center;
    /* padding: 20px; */
    /* display: flex; */
    /* flex-direction: column;  */
  }
  
  .login-button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
    cursor: pointer;
    background-color: #F9BC60;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    margin-bottom: 6px;
    filter: drop-shadow(2px 2px 4px #000000);
  }

  .landing-header {
    font-weight: bold;
    font-size: 4em;
    margin: 0; /* Removes default margin */
    margin-bottom: 5px; 
  }

  .landing-sub {
    color: white;
    font-size: 1.7em;
    margin:10px;
    align-items:center;
    align-content:center;
    text-align:center;
  }
  
  button:hover {
    background-color: #d6a153;
  }

  /* html, body {
    overflow: hidden;
  } */
  
  @media (max-width: 600px) {
    .landingpage-container {
      margin: auto;
    }
  }