.header-filter:hover,
.header-filter.active {
    text-decoration: underline #f9bc60;
}

.song-container {
    background-color: #3a6160;
    border-radius: 20px;
    width: 1000px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
}

.artist-container {
    background-color: #3a6160;
    border-radius: 20px;
    width: 1000px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
}

.album-container {
    background-color: #3a6160;
    border-radius: 20px;
    width: 1000px;
    height: 60px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
}

h3 {
    color: #ffffff;
    align-self: flex-start;
    margin: 0;
    padding-left: 5px;
}

p {
    color: #ffffff;
    align-self: flex-start;
    margin: 0;
    padding-left: 17px;
}

h4 {
    color: #ffffff;
    align-self: center;
    margin: 0;
    padding-left: 10px;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.text h4 {
    margin-bottom: 5px;
}

img {
    border-radius: 5px;
}

.select::-ms-expand {
    display: none;
}

.select {
    border-radius: 10px;
    width: 215px;
    height: 25px;
    padding-right: 20px;
    margin-top: 20px;
    font-size: 15px;
    border: none;
}

button {
    border-radius: 10px;
    width: 60px;
    height: 30px;
    background-color: #f9bc60;
    border: none;
    align-items: center;
}
