.chat-card-container {
    background-color: #3A6160;
    display: inline-flex;
    margin: 10px;
    padding: 10px;
    width: 90%;
    border-radius: 20px;
    border: 1px solid black;
    filter: drop-shadow(2px 2px 4px #000000);
    color: white;
}

.chat-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.receiver-info {
    width: 25%;
    /* background-color: green; */
    overflow-x: scroll;
    display: inline-flex;
    gap: 10px;
}

.recent-message {
    margin-left: 5%;
    color: #ABD1C6;
}

.arrow {
    margin: 7px 10px 0px auto;
}